tsn.dtd

<!ELEMENT tsn:root ANY>
<!ATTLIST tsn:root
	xmlns:tsn CDATA #FIXED 'TSN'
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:comment ANY>

<!ELEMENT tsn:context ANY>
<!ATTLIST tsn:context
	data CDATA #IMPLIED
	var CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:echo EMPTY>
<!ATTLIST tsn:echo
	data CDATA #IMPLIED
	var CDATA #IMPLIED
	>

<!ELEMENT tsn:var ANY>
<!ATTLIST tsn:var
	name CDATA #REQUIRED
	data CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:if ANY>
<!ATTLIST tsn:if
	data CDATA #IMPLIED
	var CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:unless ANY>
<!ATTLIST tsn:unless
	data CDATA #IMPLIED
	var CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:for ANY>
<!ATTLIST tsn:for
	data CDATA #REQUIRED
	key CDATA #IMPLIED
	>

<!ELEMENT tsn:each ANY>
<!ATTLIST tsn:each
	data CDATA #REQUIRED
	key CDATA #IMPLIED
	>

<!ELEMENT tsn:template ANY>
<!ATTLIST tsn:template
	name CDATA #REQUIRED
	>

<!ELEMENT tsn:include EMPTY>
<!ATTLIST tsn:include
	name CDATA #IMPLIED
	src CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!-- include DTD XHTML1.1 -->
<!ENTITY % Block.extra "| tsn:root | tsn:comment | tsn:context | tsn:var | tsn:if | tsn:unless | tsn:for | tsn:each | tsn:template | tsn:include">
<!ENTITY % xhtml11.dtd PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%xhtml11.dtd;