tsn.dtd

<!ELEMENT tsn:root ANY>
<!ATTLIST tsn:root
	xmlns:tsn CDATA #FIXED 'TSN'
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:echo EMPTY>
<!ATTLIST tsn:echo
	data CDATA #IMPLIED
	var CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:var ANY>
<!ATTLIST tsn:var
	name CDATA #REQUIRED
	data CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:if ANY>
<!ATTLIST tsn:if
	data CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:for ANY>
<!ATTLIST tsn:for
	data CDATA #IMPLIED
	key CDATA #IMPLIED
	value CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:template ANY>
<!ATTLIST tsn:template
	name CDATA #REQUIRED
	src CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:include ANY>
<!ATTLIST tsn:include
	data CDATA #IMPLIED
	name CDATA #IMPLIED
	src CDATA #IMPLIED
	context CDATA #IMPLIED
	>

<!ELEMENT tsn:anchor ANY>
<!ATTLIST tsn:anchor
	name CDATA #REQUIRED
	>

<!ELEMENT tsn:set-anchor ANY>
<!ATTLIST tsn:set-anchor
	name CDATA #REQUIRED
	data CDATA #IMPLIED
	context CDATA #IMPLIED
	>